{% extends "base_introduce.html" %}

{% block content %}

{% load static %}

<br />

<div class="row" style="margin-left:30px;">
    <div class="col-6">
        <h5>Strong Point</h5>
        <ul class="list-unstyled">
            <ul>
                <li>보험인을 대상으로 한 CRM 서비스 유지보수</li>
                <li>ASP.NET 웹프로그래밍 경력 3년 (Web form, Restful, JQuery, Ajax) </li>
                <li>Android 모바일 개발 경력 1년 (신규 앱개발)</li>
                <li>경영정보학 이중전공 (회계, 경영, 마케팅 지식 수렴)</li>
            </ul>
        </ul>

        <br />
        <h5>Technical Skill</h5>
        <ul class="list-unstyled">
            <ul>
                <li>주요언어: C#, JAVA, JQuery, Python</li>
                <li>개발환경: Windows(PC), SVN (소스관리) </li>
                <li>Android 모바일 개발 경력 1년 (신규 앱개발)</li>
                <li>개발툴: Visual Studio, Eclipse, MS Team foundation</li>
            </ul>
        </ul>
        <br />

        <h5>Work Experience</h5>
        <ul class="list-unstyled">
            <ul>
                <li>기간: 2012.08 ~ 2015.09</li>
                <li>회사: U-CRM, 개발팀 근무</li>
                <li>담당업무: 유지보수 및 개발</li>
            </ul>
        </ul>
        <br />
    </div>
    <div class="col-6" style="padding-left:40px;">

        <p style="max-width: 240px;">
            <img src="{% static 'img/profile.png' %}" class="img-fluid" alt="Responsive image">
        </p>
        <p style="padding-left: ;"><span style="color:#005cbf">Name</span>_ 채 현 호</p>
        <p><span style="color:#005cbf">Email</span>_ wvimivw@gmail.com</p>
        <p><span style="color:#005cbf">Phone</span>_ 010-3813-4207</p>

    </div>
</div>



{% endblock content %}