{% extends "base_introduce.html" %}

{% block content %}

{% load static %}
<!--
<h2>Books Management System</h2>
<ul>
</ul>
-->
<div class="text-center">
    <h5 style="color:#6c757d">Chae Hyunho</h5>
    <br />
    <h6>Programmers wanna make things better.</h6>
    <h6>What you imagin could appear sometime.</h6>
    <h6>I hope to take the chance that I work with your ...</h6>
</div>
<br />
<div class="container">
    <img src="{% static 'img/vray_0108_1.png' %}" class="img-fluid" alt="Responsive image">
</div>

<br />
<br />
<div class="text-center">
    <h6>Although I am not fluent with some skills,</h6>
    <h6>I tryna show my desire with this site</h6>
    <h6>, which let us know there won't be sad result.</h6>
</div>

<div class="container" style="max-width: 800px;">
    <img src="{% static 'img/vray_0111_1.png' %}" class="img-fluid" alt="Responsive image">
</div>


{% endblock content %}